*.pyc
*.sqlite3
#/staticfiles
# Python
__pycache__/
*.py[cod]

# Django/SQLite
db.sqlite3

# Environment
.env

# VSCode/IDE
.vscode/
*.swp

# Docker
*.pid
*.log
*.sock
*.db
*.tar
*.bak
*.tgz
*.gz
*.egg-info/
*.egg
*.dockerfile

# Pipenv / Poetry
Pipfile.lock
.envrc

# OS
.DS_Store
Thumbs.db
.DS_Store
